.login{
  width: 350px;
  height: 250px;
  background: rgba(133, 207, 200, 0.28);
  box-shadow: 0px 17px 20px 8px rgba(0,0,0,0.1);
  border-radius: 14px;
  &__content{
  }
}

.p-inputtext{
  width: 17rem;
}
