<div class="flex w-full flex-column menu align-items-center justify-content-center">
  <h2 class="flex">Дашкины штучки</h2>
  <div class="flex justify-content-center align-items-center flex-wrap w-21rem h-21rem">
    <div
      class="flex w-10rem cursor-pointer h-10rem bg-purple-200 flex-column align-items-center br justify-content-center mr-2"
      (click)="goToCalculate()">
      <i class="pi pi-calculator"></i>
    </div>
    <div
      class="flex w-10rem h-10rem cursor-pointer bg-pink-100 flex-column align-items-center br justify-content-center"
      (click)="goToTable()">
      <i class="pi pi-list"></i>
    </div>
    <div
      class="flex w-10rem h-10rem cursor-pointer bg-teal-100 align-items-center br justify-content-center mr-2"
      (click)="goToCharts()">
      <i class="pi pi-chart-line"></i>
    </div>
    <div
      class="flex w-10rem h-10rem cursor-pointer bg-indigo-200 align-items-center br justify-content-center"
      (click)="goToNotes()">
      <i class="pi pi-bookmark"></i>
    </div>
  </div>
</div>
