<div class="flex ">
  <div class="w-full flex align-items-center justify-content-center flex bg-purple-50 flex-column">
    <mat-toolbar class="bg-pink-200 flex align-items-center justify-content-center">
      <h2 class="flex align-items-center justify-content-center">Таблица расчета смеси</h2>
    </mat-toolbar>
  </div>
</div>
<div class="flex align-items-center flex-column bg-pink-50" style="height: 92%">
  <app-proportion-table></app-proportion-table>
  <div class="flex align-items-center">
    <p-button icon="pi pi-arrow-circle-left"
              label="Назад"
              routerLink="/"
              styleClass=" w-21rem  mb-6"
              class="btn-back">
    </p-button>
  </div>
</div>
