<div class="w-full flex align-items-center justify-content-center flex h-full bg-pink-100 flex-column">
  <mat-toolbar class="bg-pink-100 flex align-items-center w-full toolbar">
    <p-button icon="pi pi-arrow-circle-left"
              class="food-table-button justify-content-start"
              routerLink="/"
              styleClass=" mr-3">
    </p-button>
    <h2 class="flex align-items-center w-full mr-5 justify-content-center">Таблица расчета смеси</h2>
  </mat-toolbar>
  <div class="flex align-items-center justify-content-center flex-column h-full">
    <div class="flex align-items-center justify-content-center table-card">
      <app-proportion-table></app-proportion-table>
    </div>
  </div>
</div>
