<div class="w-full flex align-items-center flex h-full bg-indigo-100 flex-column">
  <mat-toolbar class="bg-indigo-200 flex align-items-center w-full toolbar">
    <p-button icon="pi pi-arrow-circle-left"
              class="notes-buttons justify-content-start"
              routerLink="/"
              styleClass=" mr-3">
    </p-button>
    <h2 class="flex align-items-center w-full mr-5 justify-content-center">Заметки</h2>
  </mat-toolbar>
  <div class="flex test my-6 mx-3">
   <app-tabs-notes></app-tabs-notes>
  </div>
</div>

