.cancel-add-data{
  .p-button{
    background: #607D8B !important;
    border: 1px solid #607D8B !important;
    border-radius: 8px;
  }
  .p-button:focus{
    box-shadow: none;
  }
}

.dd-style{
  .p-dropdown{
    width: 280px !important;
  }
  width: 280px;
}
