<div class="w-full flex align-items-center justify-content-center flex h-full bg-purple-100 flex-column">
  <mat-toolbar class="bg-purple-100 flex align-items-center w-full  toolbar">
    <p-button icon="pi pi-arrow-circle-left"
              class="calc-button justify-content-start"
              (onClick)="goToMenu()"
              styleClass=" mr-3">
    </p-button>
    <h2 class="flex align-items-center w-full mr-5 justify-content-center">Кашевар V2</h2>
  </mat-toolbar>
  <div class="flex flex-column align-items-center justify-content-center h-full w-full">

    <div class="content-calc flex flex-column p-3">

    <div class="flex align-items-center justify-content-center flex-column">
      <form [formGroup]="dateForm">

        <div class="flex mb-2 w-17rem h-2rem text-sm align-items-center">
          <input class="h-2rem w-13rem mr-2" formControlName="dateStart" type="datetime-local">
          <i class="pi pi-clock text-xs mr-1 p-text-secondary"></i>
          <span class="flex text-xs p-text-secondary mr-2">Начало</span>
        </div>

        <div class="flex mb-2 w-17rem h-2rem text-sm align-items-center">
          <input class="h-2rem w-13rem mr-2" formControlName="dateEnd" type="datetime-local">
          <i class="pi pi-clock text-xs mr-1 p-text-secondary"></i>
          <span class="flex text-xs p-text-secondary mr-3">Конец</span>
        </div>

      </form>
    </div>

    <div class="flex justify-content-between align-items-center w-17rem">
      <p-button icon="pi pi-calculator"
                [disabled]="!dateForm.value.dateStart && !dateForm.value.dateEnd"
                class="flex calc-button w-full"
                label="Рассчитать"
                (onClick)="calcDiff()"
                styleClass="w-full">
      </p-button>
    </div>
    </div>
  </div>
</div>
