p-calendar p-inputtext{
  width: 250px !important;
}

.toolbar{
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.calc-button{
  .p-button{
    background: var(--purple-200) !important;
    border: 1px solid var(--purple-200) !important;
    border-radius: 8px;
  }
  .p-button:focus{
    box-shadow: none;
  }
}

.content-calc{
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.04);
}
