<p-table class="h-full table-bg" selectionMode="single" [value]="table" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <span class="text-base font-semibold flex justify-content-center">Количество воды</span>
      </th>
      <th>
        <span class="text-base font-semibold flex justify-content-center">Количество смеси</span>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr [pSelectableRow]="product">
      <td>
          <span class="flex justify-content-center">
            {{product.water}}
          </span>
      </td>
      <td>
          <span class="flex justify-content-center">
            {{product.blend}}
          </span></td>
    </tr>
  </ng-template>
</p-table>
